#App{
    color: var(--black);
  
    
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }
  
  .appGlass{
       display: grid;
       height: 97%;
       width: 97%;
       border-radius: 2rem;
       background-color: var(--glass);
       overflow: hidden;
       grid-template-columns: 17rem auto;
       border:black solid 0.5px;
  }