.event-info{
    background-color: white;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:0px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}



.event-list-1{
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 15px;

}

.event-list-1-img{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-bottom: 65px;
}